<div class="center jumbotron">
<h1>Life is too short, build things that matter.</h1>

<h2>
  This is the home page for the
  <a href="http://www.railstutorial.org/">Paranormalminds</a>
  test application.
</h2>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>

