<h1>To You Thato Mphapang</h1>
<h2>The girl I have always loved, my friend, my everything</h2>
<p>Sometimes, I think real love is silent as well as blind.</p>
<p>We've lost a lot of years, but you can't lose love. Not real love. It stays locked inside you,
  ready for whenever you are strong enough to find it again.
  I dont just love you Thato…I needed you. Not in some desperate "you complete me" sort of way.
  No, You didnt make me whole.
  But you improved me. Something about you—something
  I didn't understand—had a way of amplifying the good in my nature while muting the bad.
  You are a catalyst for my soul.
  I didnt need you in order to exist...I needed you in order to be a better me.
</p>

<h2>I love you <em>Thato Mphapang</em></h2>
<h3>Happy birthday :)</h3>