<% provide(:title, "Mentoring") %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 about-us">
      <span name="about" ></span>
      <h3>Paranormalminds Mentoring Program</h3>

      <div class="container">
        <div class="row">
          <div class="col-md-12 underline">
            <hr>
          </div>
        </div>
      </div>

      <p>
        Paranormalminds was started by three undergraduates students who experienced the difficulties in surviving
        their first year in varsity. By the end of their first year, they decided to solve this problem.

        We offer learning resources to learners in high school from under-privileged background.
        Through our community platform, mentors, tutors, and other private qualified entities
        invest in tomorrow's leaders ensuring a brighter future for a black child.

        We dont believe in education, but the knowledge and skill one gets from it because <em>education is what
        remains after one has forgotten what one has learned in school.</em>

        At Paranormalminds we believe that a good mentoring relationship can provide learners with someone that will
        share their professional knowledge and expertise in the field. Our mentors are available to answer any questions
        relevant to their careers or anything related to school. Good mentor-mentee relationships are a two way street;
        consequently, if you want a good relationship with your mentor, become a good mentee. This requires a genuine
        interest in your mentor and a willingness to do what it takes to become successful as a learner in your career.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 about-us">
      <span name="about" ></span>
      <h3>Meet Our Mentors!</h3>
    </div>
  </div>
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 underline">
      <hr>
    </div>
  </div>
</div>


<div class="mentors">
  <div class="row profile-thumbnail ">
    <div class="col-md-4 b1">
      <img class="img-responsive" src="<%= image_url('profiles/team-female-profile-holder.jpg') %>">
      <h4>Nthabiseng Khomo</h4>
      <h5>-BSc. Biochemistry-</h5>
      <h5>University of Cape Town<br/></h5>
    </div>

    <div class="col-md-4">
      <img class="img-responsive" src="<%= image_url('profiles/team-male-profile-holder.jpg') %>">
      <h4>Lesedi Radebe</h4>
      <h5>-BEd. in Sinior and FET Teaching-</h5>
      <h5>University of Free State<br/></h5>
    </div>

    <div class="col-md-4 b3">
      <img class="img-responsive" src="<%= image_url('profiles/team-female-profile-holder.jpg') %>">
      <h4>Pontsho Fokothi</h4>
      <h5>--BSc. in Radiography--</h5>
      <h5>Central University of Technology<br/></h5>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12 about-us">
      <span name="about" ></span>
      <h3>Become A Mentor!</h3>
    </div>
  </div>
</div>

</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 underline">
      <hr>
    </div>
  </div>
</div>

<div class="row">
  <div class=" container careers">
    <p>
      Are you willingness to share your skills, knowledge, and expertise? Do you values ongoing learning and growth in
      your field?
    </p>
    <p>At Paranormalminds you can give back to your community by becoming a mentor to our community of learners.</p>
    <a class="btn" title="become-a-mentor" href="#">Become a mentor</a>
  </div>
</div>