<% provide(:title, "Programs") %>

<div class="page-heading text-center">
  <div class="container-fliud zoomIn animated">
    <h3>PROGRAMS<span class="title-under"></span></h3>
    <h4 class="page-description">
      A route to success.
    </h4>
    <h4 class="page-description">
      We synthesize you around your <em>strengths</em>.
    </h4>
  </div>
</div>

<h3><%= link_to "Mentoring", programs_mentoring_path %></h3>
<h3><%= link_to "Tutoring", programs_mentoring_path %></h3>
<h3><%= link_to "Career guidance", programs_mentoring_path %></h3>
<h3><%= link_to "Beyond Class Room", programs_mentoring_path %></h3>