/*-----------------------------------------------------------------------------------------------------------------

@package: Paranormalminds
@author: Mbele Lebohang
@version: 1.0

-------------------------------------------------------------------------------------------------------------------*/

/*========================================================================
  Variables
==========================================================================*/
$color_main : #b000b0 ; // main purple
$color_secondary : darken($color_main, 10%) ; // dark purple
$gray-medium-light: #eaeaea;

/*========================================================================
  Who we are
 =========================================================================*/
.about-us{
  text-align: center;
  position: relative;
  margin: 0 auto;
}

/*=========================================================================
 Team
 ==========================================================================*/

.fa{
  color: #b000b0
}

/*=========================================================================
 What learners says about us
 =========================================================================*/

.about1 h3, .about2 h3{
  font-size: 20px;
  font-variant: small-caps;
}
pic1Ab{
  float: right;
  padding: 40px;
  padding-top: 51px;
  padding-right: 37px;
  padding-bottom: 39px;
}

pic2Ab{
  float: left;
  padding: 40px;
  padding-top: 51px;
  padding-right: 37px;
  padding-bottom: 39px;
}
.about1{
  float: right;
  text-align: right;
}

.about2{
  float: left;
  text-align: left;
}
.horL {
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 25px;
  right: 0;
  width: 1170px;
  height: 254px;
  content: '';
  z-index: 30;
  background: image_url('horL.png') no-repeat;
}

/*=========================================================================
 Careers
 =========================================================================*/
.careers{
  text-align: center;
}

/*=========================================================================
  Media Query
  =========================================================================*/
@media screen and (max-width: 1190px){
  .horL {
    display:none;
  }

}