/*-----------------------------------------------------------------------------------------------------------------

@package: Paranormalminds
@author: Mbele Lebohang
@version: 1.0

-------------------------------------------------------------------------------------------------------------------*/

/*========================================================================
  Imports & Variables
==========================================================================*/
/* Imports */
@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */
$color_main : #b000b0 ; // main purple
$color_secondary : darken($color_main, 10%) ; // dark purple
$gray-medium-light: #eaeaea;

$font_main : 'Roboto', sans-serif;
$font_titles : 'Dosis', sans-serif;

/*======================================================================= 
  universal 
=========================================================================*/

body {
  max-width: 1200px;
  font-family: $font-main;
  position: relative;
  margin: 0 auto;
  background: image_url('bg.jpg'); 
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.underline{
  margin-top: -20px;
}
.underline hr{
  border: 0;
  height: 2px;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(176, 0, 176, 1), rgba(0,0,0,0));
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0), rgba(176, 0, 176, 1), rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left, rgba(0,0,0,0), rgba(176, 0, 176, 1), rgba(0,0,0,0));
  background-image: -o-linear-gradient(left, rgba(0,0,0,0), rgba(176, 0, 176, 1), rgba(0,0,0,0));
}
.title-style-1 {

  text-align: center;
  font-variant: small-caps;
  font-size: 26px;
  margin-bottom: 50px;
}

.title-style-2 {

  text-align: left;
  font-variant: small-caps;
  font-size: 26px;
  margin-bottom: 25px;

  .title-under {

    display: block;
    margin: 5px 0;

    &:after {
      margin: 0;
      margin-top: 10px;
    }
  }
}
.title-under {

  display: block;
  margin: 5px auto;
  background:$color_main;
  height: 1px;
  width: 280px;

  &:after {
    content: '';
    display: block;
    width: 100px;
    background:inherit;
    height: 2px;
    margin: 0 auto;
    margin-top: 10px;
  }
}
a.btn {
  font-size: 1.2em;
  text-decoration: none;
  font-variant: small-caps;
  color: $color_secondary;
  border:2px solid $color_secondary;
  padding: 4px 15px;
  transition: background-color 0.5s;
  border-radius: 5px;
}
a.btn:hover {
  background-color: rgba(175,0,175,0.7);
}
.profile-thumbnail {
  text-align: center;
  margin-top: 46px;

  .b1 {
    padding-left: 0;
  }

  .b3 {
    padding-right: 0;
  }

  img {
    margin: 0 auto;
  }

  h4 {
    margin-top: 24px;
    font-size: 20px;
    color: #2f2f2f;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
  }
  h5 {
    margin-top: -3px;
    font-size: 13px;
    color: #a9a9a9;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
  }
  p {
    margin-top: 12px;
    font-size: 13px;
    color: #666;
    font-family: 'Roboto', 'sans-serif';
    font-weight: 300;
    line-height: 24px;
  }

  ul {
    margin-top: 2px;
    padding-left: 0px;
    display: inline-block;
    margin: 0 auto;

    li {
      padding: 0 10px;
      float: left;
      list-style: none;
      font-family: FontAwesome;
      font-size: 15px;

      a {
        color: #2f2f2f;
      }

      a:hover {
        color: #1fcdff;
      }
    }
  }

  .title-style-1{
    margin-bottom: 20px;
  }
}
/*=============================================================== 
   typography 
=================================================================*/

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color:#2f2f2f;
  font-family: $font_titles;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}
h3{
  font-size:28px;
  font-weight: 300;
}
h4{
  margin-top: 15px;
  font-size:16px;
  font-weight: 300;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: inherit;

  &:hover,
  &:focus,
  &:active {
    color: inherit;
  }
}

/*=====================================================================
 Navigation bar 
=======================================================================*/
.navbar {
  border-radius: 0;
  margin: 0;
}
.navbar-main{
  background-color: #fff;
  border-bottom: 3px solid $color_main;
  padding: 5px 15px;

    a:hover,
    a:active,
    a:focus,
    a.is-active {
      background: none !important;
      color: inherit;
      border-bottom: 2px solid $color_main;
    }
    .submenu {
      position: absolute;
      z-index: 1;
      list-style: none;
      background:$color_main;
      padding: 0;
      width: 125px;
      left: 10px;
      visibility: hidden;
      top:85px;
      color: $gray-medium-light; 
      @include transition(all, .05s);

      li {
        border-top: 1px solid darken($color_main, 10%);
        &:hover {
          margin-top: 10px;
          background:darken($color_main, 10%);
          @include transition(all, .3s);
        }
        a {
          width: 100%;
          border-bottom: none;
          text-decoration: none;
          padding: 5px 25px;
          display:block;
          font-size: 16px;
         }
       }
    }
}
li {  
  a {
    padding: 10px 15px ;
    border-bottom: 2px solid transparent ;
  }
  &:hover {
    .submenu {
      top: 50px;
      visibility: visible;
      @include transition(all, .5s);  
    }
  }
}
.active-button{
  background-color:$color_main;
  color: $gray-medium-light;
}

.navbar-main .navbar-nav > .active > a {
  background-color: $color_main;
  color: $gray-medium-light;
}

.navbar-brand {
  padding: 0;
}
.navbar-nav > li > a {
  line-height: 17px;
  margin: 0 10px;
}
.navbar-right {
  margin-right: 15px;
}
.navbar-collapse {
  padding: 0;
  margin: 0;
}
.icon-bar {
    background: $color_main;
}

/*===================================================================================
  header 
 =====================================================================================*/

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
/*====================================================================================== 
  Pages 
======================================================================================== */

.page-heading {

  background: image-url("pages-bg-header.jpg") no-repeat center;
  background-size: cover;
  min-height: 300px;
  position: relative;
  padding: 25px 15px;
  margin-bottom: 10px;
}
.page-description {
  font-size: 18px;
}

/*===================================================================================
  Animations
=====================================================================================*/
.animated {
  visibility: visible;
  -webkit-animation-duration: 1s;
    animation-duration: 1s;
  -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    &.slow {
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  &.fadeIn {

    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
}

// zoomIn
@-webkit-keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}
/*======================================================================================= 
  footer 
  =======================================================================================*/

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    margin-left: 30px;
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
    &:visited{
      color:#777
    }
  }
  div {
    display: inline;
  }
}
.contact-us{
  background: image_url('footer-bg.jpg');
  padding: 15px;
  a{
    color: $color_main;
  }
  .footer-col{
    max-height: 300px;
  }
  .heading{
    font-weight: 500;
  }
}
.social-media{
  text-align: center;
  padding: 0;
  background-color: $color_main;

  .fa {
    color: $gray-medium-light;
  }

  ul{
    margin: 0;
    padding: 5px;
    
    li{
      margin: 5px -10px;
      padding: 0;
      list-style: none outside none;
      display: inline-block;
    }
  }

  .social-btn { /* global button class */
      display: inline-block;
      position: relative;
      cursor: pointer;
      width: 45px;
      height: 45px;
      border:2px solid #ddd; /* add border to the buttons */
      padding: 0px;
      text-decoration: none;
      text-align: center;
      color: #fff;
      font-size: 20px;
      font-weight: normal;
      line-height: 2em;
      border-radius: 25px;
      -moz-border-radius:27px;
      -webkit-border-radius:27px;
  }

  .facebook-btn{
      background: $color_secondary;
  }

  .facebook-btn:before{
      font-family: "FontAwesome";
      content: "\f09a";
  }

  .facebook-btn:hover{
      color: $color_secondary;
      background: #fff;
      border-color: $color_secondary;
  }
  .twitter-btn{
    background: $color_secondary;
  }

  .twitter-btn:before{
        font-family: "FontAwesome";
        content: "\f099";
        
  }

  .twitter-btn:hover{
        color: $color_secondary;
        background: #fff;
        border-color: $color_secondary;
  }
  .linkedin-btn{
    background: $color_secondary;
  }

  .linkedin-btn:before{
        font-family: "FontAwesome";
        content: "\f0e1";
  }

  .linkedin-btn:hover{
        color: $color_secondary;
        background: #fff;
        border-color: $color_secondary;
  }
  .fa-youtube{
    background: $color_secondary;
  }

  .fa-youtube:before{
        font-family: "FontAwesome";
  }

  .fa-youtube:hover{
        color: $color_secondary;
        background: #fff;
        border-color: $color_secondary;
  }
  .fa-github{
    background:$color_secondary;
  }

  .fa-github:before{
        font-family: "FontAwesome";
  }

  .fa-github:hover{
        color: $color_secondary;
        background: #fff;
        border-color: $color_secondary;
  }
}

