/*-----------------------------------------------------------------------------------------------------------------

@package: Paranormalminds
@author: Mbele Lebohang
@version: 1.0

-------------------------------------------------------------------------------------------------------------------*/

/*========================================================================
  Variables
==========================================================================*/
$color_main : #b000b0 ; // main purple
$color_secondary : darken($color_main, 10%) ; // dark purple
$gray-medium-light: #eaeaea;

.mentors{
  background-color: $color_main;
  padding: 15px;
  h4{
    color: lightgrey;
  }
}
