<div class="container">
  <div class="row">
    <div class="col-md-12 about-us">
      <span name="about" ></span>
      <h3></h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12 underline">
      <hr>
    </div>
  </div>
</div>
<div class="row">
	<div class="container contact-us">
		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-3">
			<div class="footer-col">
				<h4 class="heading"><a href="#">Press</a></h4>
				<h4 class="heading"><a href="#">FAQs</a></h4>
				<h4 class="heading"><a href="#">Become a volunteer</a></h4>
				<h4 class="heading"><a href="#">Blog</a></h4>
				<h3 class="title-style-2"><span class="title-under"></span></h3>
			</div>
		</div>
		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-3">
		<div class="footer-col">
				<h4 class="heading">Ficksburg | Gauteng | Venda</h4>
				<h4>Paranormalminds Headquaters</h4>
				<h4>7500 Zone 8</a></h4>
				<h4>Free State, 9730</a></h4>
				<h3 class="title-style-2"><span class="title-under"></span></h3>
			</div>
		</div>
		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-3">
			<div class="footer-col">
				<h4 class="heading">contact us</h4>
				<h4>info@paranormalminds</h4>
				<h4>cell:<a href="tel:+27603374561"> +27603374561</a></h4>
				<h4>cell:<a href="tel:+27603374561"> +27603374561</a></h4>
				<h3 class="title-style-2"><span class="title-under"></span></h3>
			</div>
		</div>
		<div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-6 col-md-3">
			<div class="footer-col">
				<h4><a href="#">tweeter</a></h4>
				<h4><a href="#">youtube</a></h4>
				<h4><a href="#">facebook</a></h4>
				<h4><a href="#">linkedin</a></h4>
				<h3 class="title-style-2"><span class="title-under"></span></h3>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="container social-media">
		<div><h1></h1></div>
	</div>
</div>
<footer class="footer">
  &copy; Paranormalminds
  <div>
    <a title="Privacy Policy" href="#">Privacy Policy</a>
    <a title="Terms of Service" href="#">Terms of Service</a>
  </div>
</footer>